<div class="col-sm-4 offset-md-1 py-4">
    <h4 class="text-white">Меню</h4>
    <ul class="list-unstyled">
        <li><a href="{% url 'client:main_page' %}" class="text-white">Главная</a></li>
        <li><a href="{% url 'client:clients' %}" class="text-white">Клиенты</a></li>
        <li><a href="{% url 'client:mailing_list' %}" class="text-white">Рассылки</a></li>
        <li><a href="{% url 'client:message_list' %}" class="text-white">Сообщения</a></li>
        <li><a href="{% url 'client:log_view' %}" class="text-white">Лог рассылки</a></li>
        <li><a href="{% url 'blogpost:blogpost_list' %}" class="text-white">Наш блог</a></li>
                {% if user.is_authenticated %}
            <li><a href="{% url 'users:user_view' %}" class="text-white">Пользователи</a></li>
            <li><a href="{% url 'users:profile' %}" class="text-white">Профиль</a></li>
            <li><a href="{% url 'users:logout' %}" class="text-white">Выход</a></li>
        {% else %}
            <li><a href="{% url 'users:login' %}" class="text-white">Вход</a></li>
            <li><a href="{% url 'users:register' %}" class="text-white">Регистрация</a></li>
        {% endif %}
    </ul>
</div>