{% extends 'client/base.html' %}

{% block content %}
    <div class="row">
        <div class="col-12 mb-5">
            <a class="btn btn-primary" href="{% url 'client:mailing_create' %}">Добавить рассылку</a>
        </div>
        {% for object in object_list %}
            <div class="col-md-4">
                <div class="card mb-4 box-shadow">
                    <div class="card-body">
                        <p class="card-text">{{ object.time }}</p>
                        <p class="card-text">{{ object.period }}</p>
                        <p class="card-text">{{ object.status }}</p>
                        <div class="d-flex justify-content-between align-items-center">
                            <div class="btn-group">
                                <a href="{% url 'client:mailing_view' object.pk %}" type="button"
                                   class="btn btn-sm btn-outline-secondary">Просмотр</a>
                                <a href="{% url 'client:mailing_update' object.pk %}" type="button"
                                   class="btn btn-sm btn-outline-warning">Редактировать</a>
                                <a href="{% url 'client:mailing_delete' object.pk %}" type="button"
                                   class="btn btn-sm btn-outline-danger">Удалить</a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        {% endfor %}
    </div>

<footer class="text-muted">
    <div class="container">
        <p class="float-right">
            <a href="{% url 'client:main_page' %}">На главную</a>
    </div>
</footer>
{% endblock %}